body{
  margin: 0;
  padding: 0;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
/* form > input{
  margin-bottom: 5px;
  width: 100%;
} */
.list-input{
  display: flex;
  display: 100%;
  flex-direction: column;
}
.list-input > input{
  margin-bottom: 5px;
}
form > h4{
  margin-bottom: 10px;
}
.multi-input{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.multi-input > input {
  width: 47%;
}